@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.center-column {
  float: left;
  width: calc(100vw / 3);
  height: 100vh;
  cursor: pointer;
  background-color: $color-yellow;
  background-image: url("/images/paris-grass.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    .center-column-clouds {
	  animation-play-state: running;
	}
  }

  .center-column-title {
	margin-top: 4rem;
	text-transform: uppercase;
	text-align: center;
	span {
		line-height: 1.1em;
		&.center-column-title-line-one {
    	  color: $color-blue;
    	  font-size: 4.5em;
    	  font-family: Akzidenz Light;
    	}
    	&.center-column-title-line-two {
    	  color: $color-green;
    	  font-size: 6.1em;
    	  font-family: Akzidenz;
    	}
    	&.center-column-title-line-three {
    	  color: $color-blue;
    	  font-size: 3em;
    	  font-family: Akzidenz Light;
    	}
	}
  }

  .center-column-monument {
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-image: url("/images/paris-monument.png");
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	transition: all 0.3s ease;
  }

  .center-column-clouds {
	  position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/images/paris-clouds.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
	  transition: all 0.3s ease;
      animation: floating 2.3s infinite;
	  animation-play-state: paused;
	  z-index: 1000;
  }
  @keyframes floating {
  	from {
	 top: 0;
	 animation-timing-function: ease-out;
	}
	25% {
	  top: 0.7rem;
	}

	50% {
	  top: 0;
	  animation-timing-function: ease-out;
	}
	75% {
	  top: 0.7rem;
	}
	to {
	  top: 0;
	  animation-timing-function: ease-out;
	}
  }

  &.column-open {
    width: 90vw;
	background: $color-yellow;
  }

  .center-column-content {
	cursor: default;
	width: 100%;
	height: 100%;

	.center-column-content-title {
	  margin: 2rem;
      color: $color-orange;
      font-size: 6em;
      text-transform: uppercase;
      font-family: Akzidenz;
      border-bottom: solid 0.08em $color-orange;
      float: left;
      clear: left;
	  padding: 0;
	}
	.center-column-burger-menu {
	  position: absolute;
      top: 2rem;
      right: 2rem;
      padding: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
	  .center-column-burger-element {
	    width: 2.2rem;
	    height: 0.3rem;
	    margin-bottom: 0.3rem;
	    background-color: $color-orange;
        transition: all 0.3s ease;
      }

	  &.open {
		&:hover {
		  li {
			background-color: $color-orange;
		  }
		}
		.center-column-burger-element {
          background-color: $color-grey;
		}
		li:nth-child(2) {
          opacity: 0;
  	    }
		li:nth-child(1) {
          transform: rotate(135deg);
		  margin-top: 0.6rem;
	     }
	     li:nth-child(3) {
           transform: rotate(-135deg);
		   margin-top: -1.2rem;
	     }
	  }
	}
	.center-column-burger-content {
	  position: absolute;
	  top: 2.3rem;
	  right: 5rem;
	  font-family: Akzidenz;
	  font-size: 2em;
	  text-transform: uppercase;
	  transition: all 0.3s ease;
	  li {
		float: left;
		margin-right: 3rem;
		cursor: pointer;
		color: $color-grey;
		transition: color 0.3s ease;
		&:after {
		  content: "";
		  position: absolute;
		  left: 0;
		  bottom: -0.2rem;
		  width: 0;
		  background-color: $color-orange;
		  height: 0.2rem;
		  transition: width 0.3s ease;
		}
		&:hover {
          color: $color-orange;
		  &:after {
			width: 100%;
		  }
		}
	  }
	  &.toggle-menu-transition {
	    transition: transform 0.3s ease;
	  }
	  &.toggle-menu-enter {
	    transform: translate3d(100%, 0, 0);
		opacity: 0;
	  }
	  &.toggle-menu-leave {
	    transform: translate3d(100%, 0, 0);
		opacity: 0;
	  }
	}

	.center-column-navigation {
      position: absolute;
	  @include centerY;
	  right: 2rem;
      .center-column-navigation-dots {
		width: 1rem;
		height: 1rem;
		background-color: $color-grey;
		border-radius: 50%;
		margin-bottom: 1rem;

		&.active {
		  background-color: $color-orange;
		}
	  }
	}

  }
  .hide-elements-transition {
    transition: opacity 0.3s ease;
  }
  .hide-elements-enter {
    opacity: 0;
  }
  .hide-elements-leave {
    opacity: 0;
  }
}
