@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.center-column {
  float: left;
  width: calc(100vw / 3);
  height: 100vh;
  text-align: center;
  cursor: pointer;
}

.open {
  width: 90vw;
}
