<div class="center-column" v-on:click="clickColumn" v-bind:class="{ 'column-open': columnOpen}" v-el:centercolumn>
	<div class="center-column-content" v-show="showContent">
		<div class="center-column-content-title">
			Paris
		</div>
		<ul class="center-column-burger-menu" v-on:click="menuClick" v-bind:class="{ 'open': menuOpen }">
			<li class="center-column-burger-element"></li>
			<li class="center-column-burger-element"></li>
		<li class="center-column-burger-element"></li>
		</ul>
		<ul class="center-column-burger-content" v-el:burgercontent>
			<li class="center-column-burger-centent-element" v-on:click="clickCities">Cities</li>
			<li class="center-column-burger-centent-element" v-on:click="clickAbout">About</li>
		</ul>
	</div>
</div>
