@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.right-column {
  float: left;
  width: calc(100vw / 3);
  height: 100vh;
  background-color: $color-green;
  text-align: center;
  cursor: pointer;
}

.side {
  width: 5vw;
}
