@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.left-column {
  float: left;
  width: calc(100vw / 3);
  height: 100vh;
  text-align: center;
  background-color: grey;
  cursor: pointer;
  transition: all 0.3s ease;

  &.column-sided {
    width: 5vw;
	background-color: $color-green;
  }
}
