@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.homepage {
  position: relative;
}

.homepage__title {
  font-size: 1.8rem;
  font-weight: bold;
  color: $color-green;
}

.homepage__paragraph {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.homepage__content {
  width: 100%;
  height: 100%;
}

.show-about-transition {
  transition: transform 0.6s ease;
}
.show-about-enter {
  transform: translate3d(0, -100%, 0);
}
.show-about-leave {
  transform: translate3d(0, -100%, 0);
}
